___
# Exercício: Análise Exploratória - Tipos de Variáveis e Medidas Resumo
___

## Aula 02

## Índice

- [Empresa de TV](#empresa-de-tv)
    - [Tipos de variáveis](#tipos-de-variaveis)
    - [Exercício 1](#ex1)
    
    
- [Indo além...](#indo-alem)
    - [Exercício 1](#exe1)
    - [Exercício 2](#exe2)
    - [Exercício 3](#exe3)
    - [Exercício 4](#exe4)
    - [Exercício 5](#exe5)
    - [Exercício 6](#exe6)
    - [Exercício 7](#exe7)
    
    
- [Lista de comandos utilizados neste notebook](#comandos)


___

<div id="empresa-de-tv"></div>

## Empresa de TV

Uma empresa de TV via satélite criou recentemente dois tipos de planos de canais (A e B).

A empresa tem como objetivo estudar o perfil dos clientes que aderiram ao plano para enviar malas diretas aos potenciais clientes de cada tipo de plano.

A base de dados apresenta algumas variáveis para uma amostra de 82 clientes selecionados aleatoriamente dentre aqueles que aderiram aos planos. As variáveis têm os seguintes significados:

* CLIENTE: identificador do cliente.
* PLANO: apresenta o plano adquirido pelo cliente – (1=A ou 2=B). 
* EC: apresenta estado civil do cliente no momento da adesão ao  plano – (1=Casado, 2=Solteiro e 3=Outros).
* SATISFACAO: grau de satisfação do cliente pelo plano – 
	(Muito insatisfeito, Insatisfeito, Indiferente, Satisfeito e Muito satisfeito).
* RENDA: renda pessoal do cliente, em milhares de reais.

O arquivo `EmpresaTV_Cod.xlsx` contém as variáveis descritas acima.

In [22]:
%matplotlib inline
import pandas as pd
import os
import numpy as np

In [23]:
# Listando o diretório de trabalho. Lembre-se que o arquivo com a base de dados precisa estar neste diretório.
print('Esperamos trabalhar no diretório')
print(os.getcwd())

Esperamos trabalhar no diretório
c:\Users\pedro\OneDrive\Documentos\GitHub\Semestre-2\Cdados\aula02

In [24]:
# Carregando os dados do arquivo
dados = pd.read_excel('EmpresaTV_Cod.xlsx')

In [25]:
dados['PLANO'] = dados['PLANO'].astype('category')
dados['EC'] = dados['EC'].astype('category')
dados['SATISFACAO'] = dados['SATISFACAO'].astype('category')

In [26]:
dados['PLANO'].cat.categories = ['A', 'B']
dados['EC'].cat.categories = ['Casado', 'Solteiro', 'Outros']
dados['SATISFACAO'] = pd.Categorical(dados.SATISFACAO, 
                                     categories = ['Muito Insatisfeito', 'Insatisfeito', 'Indiferente', 
                                                   'Satisfeito', 'Muito Satisfeito'], 
                                     ordered=True)

In [27]:
# Visualizando as cinco primeiras linhas
dados.head(5)

   CLIENTE PLANO        EC        SATISFACAO  RENDA  Unnamed: 5  Unnamed: 6
0        1     A    Casado  Muito Satisfeito   21.4         NaN         NaN
1        2     A  Solteiro  Muito Satisfeito   17.2         NaN         NaN
2        3     A    Outros  Muito Satisfeito   15.6         NaN         NaN
3        4     A    Casado        Satisfeito   10.4         NaN         NaN
4        5     A  Solteiro  Muito Satisfeito   17.6         NaN         NaN

<div id="indo-alem"></div>

___

## Indo além...

Os exercícios a seguir integram conceitos vistos nas últimas duas aulas.

**DICA**: os exercícios marcados com &#x2605;&#x2605;&#x2605; são mais difíceis e vão exigir que você aprenda novas funções do pandas. Recomendamos que vocês tentem fazer esses exercícios mesmo depois da aula.
___

<div id="exe1"></div>

### EXERCÍCIO 1

A coluna SATISFACAO está com uma granularidade muito grande para algumas análises. Crie uma coluna `SENTIMENTO` no `DataFrame` com as seguintes categorias:

    Não curtiu, se SATISFACAO = Insatisfeito ou Muito Insatisfeito
    Indiferente, se SATISFACAO = Indiferente
    Curtiu, se SATISFACAO = Satisfeito ou Muito Satisfeito

In [41]:
# ESCREVA SEU CODIGO AQUI

# dados['Unnamed: 5'] = dados['SENTIMENTO']
# dados['SENTIMENTO'] = pd.Categorical(dados.SENTIMENTO, categories=['Não curtiu', 'Não curtiu', 'Indiferente', 'Curtiu', 'Curtiu'], ordered=True)


cond = [
    (dados['SATISFACAO'] == 'Muito Insatisfeito') | (dados['SATISFACAO'] == 'Insatisfeito'),
    (dados['SATISFACAO'] == 'Indiferente'),
    (dados['SATISFACAO'] == 'Satisfeito') | (dados['SATISFACAO'] == 'Muito Satisfeito'),

]

choice = ['Não curtiu', 'Indiferente', 'Curtiu']
# dados['SENTIMENTO'] = np.select(cond, choice, default='Not Specified')
dados['SENTIMENTO'] = np.select(cond, choice)
dados

,CLIENTE,PLANO,EC,SATISFACAO,RENDA,Unnamed: 5,Unnamed: 6,SENTIMENTO
0,1,A,Casado,Muito Satisfeito,21.4,NaN,NaN,Curtiu
1,2,A,Solteiro,Muito Satisfeito,17.2,NaN,NaN,Curtiu
2,3,A,Outros,Muito Satisfeito,15.6,NaN,NaN,Curtiu
3,4,A,Casado,Satisfeito,10.4,NaN,NaN,Curtiu
4,5,A,Solteiro,Muito Satisfeito,17.6,NaN,NaN,Curtiu
...,...,...,...,...,...,...,...,...
77,78,B,Outros,Insatisfeito,4.3,NaN,NaN,Não curtiu
78,79,B,Solteiro,Insatisfeito,5.7,NaN,NaN,Não curtiu
79,80,B,Casado,Insatisfeito,4.0,NaN,NaN,Não curtiu
80,81,B,Outros,Insatisfeito,5.4,NaN,NaN,Não curtiu
81,82,B,Casado,Muito Insatisfeito,0.6,NaN,NaN,Não curtiu

<div id="exe2"></div>

### EXERCÍCIO 2 &#x2605;&#x2605;&#x2605;

Monte uma tabela cruzada de sentimento versus plano e estado civil. 

**DICA 1**: a função `pd.crosstab` pode receber uma lista de `Series` (colunas de um `DataFrame`).

**DICA 2**: pesquise por "pandas crosstab multiple columns".

In [46]:
# ESCREVA SEU CODIGO AQUI
pd.crosstab([dados['SENTIMENTO'], dados['PLANO']], dados['EC'], margins=True)

EC                 Casado  Solteiro  Outros  All
SENTIMENTO  PLANO
Curtiu      A          19        10       3   32
            B           4         3       0    7
Indiferente A           3         3       1    7
            B           2         9       1   12
Não curtiu  A           4         0       3    7
            B           4         8       5   17
All                    36        33      13   82

<div id="exe3"></div>

### EXERCÍCIO 3

Que hipóteses você pode formular a partir dessa tabela?

ESCREVA SUA RESPOSTA AQUI
o plano B é pior para os solteiros que para casados, mas em todos os casos os plano A é melhor que o B

<div id="exe4"></div>

### EXERCÍCIO 4 &#x2605;&#x2605;&#x2605;

Anteriormente, vimos que não faz sentido realizar certas operações com a variável renda devido ao seu tipo de variável. Crie uma nova coluna em `dados` chamada FAIXA_DE_RENDA. Essa nova variável deve dividir a renda de todos os clientes em 3 faixas iguais (veremos que isso não necessariamente é uma boa ideia, mas vamos começar com essa análise simplificada).

<div id="cut"></div>

**DICA**: a função `pd.cut` pode ser útil para resolver este exercício.

In [50]:
# ESCREVA SEU CODIGO AQUI
dados['FAIXA_DE_RENDA'] = pd.cut(dados['RENDA'], bins=3, right=True)
dados

,CLIENTE,PLANO,EC,SATISFACAO,RENDA,Unnamed: 5,Unnamed: 6,SENTIMENTO,FAIXA_DE_RENDA
0,1,A,Casado,Muito Satisfeito,21.4,NaN,NaN,Curtiu,"(14.467, 21.4]"
1,2,A,Solteiro,Muito Satisfeito,17.2,NaN,NaN,Curtiu,"(14.467, 21.4]"
2,3,A,Outros,Muito Satisfeito,15.6,NaN,NaN,Curtiu,"(14.467, 21.4]"
3,4,A,Casado,Satisfeito,10.4,NaN,NaN,Curtiu,"(7.533, 14.467]"
4,5,A,Solteiro,Muito Satisfeito,17.6,NaN,NaN,Curtiu,"(14.467, 21.4]"
...,...,...,...,...,...,...,...,...,...
77,78,B,Outros,Insatisfeito,4.3,NaN,NaN,Não curtiu,"(0.579, 7.533]"
78,79,B,Solteiro,Insatisfeito,5.7,NaN,NaN,Não curtiu,"(0.579, 7.533]"
79,80,B,Casado,Insatisfeito,4.0,NaN,NaN,Não curtiu,"(0.579, 7.533]"
80,81,B,Outros,Insatisfeito,5.4,NaN,NaN,Não curtiu,"(0.579, 7.533]"
81,82,B,Casado,Muito Insatisfeito,0.6,NaN,NaN,Não curtiu,"(0.579, 7.533]"

<div id="exe5"></div>

### EXERCÍCIO 5

Monte uma tabela cruzada de sentimento versus plano e faixa de renda.

In [56]:
# ESCREVA SEU CODIGO AQUI
pd.crosstab([dados['SENTIMENTO'], dados['PLANO']], dados['FAIXA_DE_RENDA'])
# pd.crosstab([dados['SENTIMENTO'], dados['PLANO']], dados['FAIXA_DE_RENDA'], margins=True)

FAIXA_DE_RENDA     (0.579, 7.533]  (7.533, 14.467]  (14.467, 21.4]
SENTIMENTO  PLANO
Curtiu      A                   1               24               7
            B                   0                6               1
Indiferente A                   4                3               0
            B                  11                1               0
Não curtiu  A                   7                0               0
            B                  17                0               0

<div id="exe6"></div>

### EXERCÍCIO 6

Por que não faria sentido montar uma tabela cruzada utilizando a variável RENDA no lugar de FAIXA_DE_RENDA?

ESCREVA SUA RESPOSTA AQUI
pois assim averia uma quantidade muito grande de linhas para analisar desnecessariamente

<div id="exe7"></div>

### EXERCÍCIO 7

<div id="groupby"></div>

Estude a função `.groupby` e utilize-a para imprimir as medidas resumo da variável quantitativa `RENDA` para cada categoria da variável `PLANO`, separadamente.

**DICA**: você pode usar a função `.describe()`.

In [64]:
# ESCREVA SEU CODIGO AQUI
dados.groupby('PLANO')[['RENDA']].describe()

      RENDA
      count       mean       std  min    25%    50%     75%   max
PLANO
A      46.0  10.421739  4.465568  0.7  7.475  10.35  13.200  21.4
B      36.0   5.688889  3.293437  0.6  4.150   5.15   6.375  19.2

<div id="comandos"></div>

___

## Lista de comandos utilizados neste notebook

Os seguintes comandos foram utilizados neste jupyter notebook. Para facilitar sua consulta, escreva um resumo do que cada um deles faz:

- [`.astype`](#astype): ESCREVA AQUI O RESUMO
- [`.cat.categories`](#categories): ESCREVA AQUI O RESUMO
- [`.value_counts`](#value_counts): ESCREVA AQUI O RESUMO
- [`pd.crosstab`](#crosstab): ESCREVA AQUI O RESUMO
- [`.mean`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.median`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.quantile`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.var`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.std`](#mean-median-etc): ESCREVA AQUI O RESUMO
- [`.describe`](#describe): ESCREVA AQUI O RESUMO
- [`pd.cut`](#cut): ESCREVA AQUI O RESUMO
- [`.groupby`](#groupby): ESCREVA AQUI O RESUMO