In [2]:
import pandas as pd

data = pd.read_excel('Gapminder.xlsx')

In [5]:
data.sort_values(by=['population'], ascending=False).head(3)

,country,year,infant_mortality,life_expectancy,fertility,population,gdp,continent,region
10209,China,2015,9.2,76.2,1.57,1.376049e+09,NaN,Asia,Eastern Asia
10024,China,2014,9.8,75.9,1.56,1.369436e+09,NaN,Asia,Eastern Asia
9839,China,2013,10.6,75.7,1.56,1.362514e+09,NaN,Asia,Eastern Asia